header{
    background-color: grey;
   height: 40px;
}

body{
    margin:0
}

main{
   
    margin:auto;
    min-width: 300px;
    max-width: 1200px;
    width: 50vw;
    min-height: 100vh;
}

span,main, #header-conteiner {
    /* border: 1px solid; */
}

#header-conteiner{
    /* border-color: blue; */
    margin:auto;
    min-width: 300px;
    max-width: 1200px;
    width: 50vw;
    height: 40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

#first-img{
    min-width: 300px;
    max-width: 1200px;
    width: 50vw;
    margin:0;
}

#section-2{
    min-width: 300px;
    max-width: 1200px;
    width: 50vw;
    background-color:darkblue;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin:0;
}